
@font-face{
    font-family: 'junegull';
    src: url('../fonts/junegull.ttf')
}

body{
    font-family: junegull,Arial, Helvetica, sans-serif;;
}

header{
    text-align: center;
}
.circleBig {
    position: absolute;
    left: 400px;
    top: 150px;
    height: 600px;
    width: 600px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}  /* z index reference: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    .circleSmall {
        position: absolute;
        left: 635px;
        top: 385px;
        height: 130px;
        width: 130px;
        background-color: silver;
        border-radius: 50%;
        z-index: 3;
} 

.circleMedium {
    position: absolute;
    left: 600px;
    top: 350px;
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
} 
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_circle */
.simon{
    position: absolute;
    text-align: left;
    left: 645px;
    top: 430px;
    color: black;
    z-index: 4;
    font-size: 43px;
}

/*  reference for cone and trapezoid shapes
    https://css-tricks.com/the-shapes-of-css/  */

  .cone {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 200px solid red;
    border-radius: 50%;
    z-index: 1;
    
    /* transform: rotate(45deg) */
}

.red{
    position: absolute;
    left: 600px;
    top: 250px;
    transform: rotate(45deg);
    border-top: 200px solid red;
}

.green{
    position: absolute;
    left: 400px;
    top: 250px;
    transform: rotate(-45deg);
    border-top: 200px solid green;
}

.yellow{
    position: absolute;
    left: 400px;
    top: 450px;
    transform: rotate(-135deg);
    border-top: 200px solid yellow;
}

.blue{
    position: absolute;
    left: 600px;
    top: 450px;
    transform: rotate(135deg);
    border-top: 200px solid  blue;
}
    #trapezoid {
        border-bottom: 150px solid red;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        height: 0;
        width: 100px;
        /* border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px; */
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        transform: rotate(45deg)
      }

     
  